[package]
name = "sim-core"
version = "0.1.0"
edition = "2021"

[dependencies]
common = { path = "../common" }
nalgebra = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
log = { workspace = true }
